* {
  outline: none; }

#footer_nav {
  background-color: #fff;
  -webkit-box-shadow: -1px 0px 5px 1px #afafaf;
          box-shadow: -1px 0px 5px 1px #afafaf;
  bottom: 0;
  text-align: center;
  padding: 14px 10px;
  position: fixed;
  z-index: 99;
  width: 100%; }
  #footer_nav a {
    text-decoration: none;
    color: #979797;
    font-family: "Roboto", sans-serif;
    font-size: 16px; }
    #footer_nav a:hover {
      text-decoration: none; }
  #footer_nav i {
    font-size: 20px;
    margin-bottom: 5px; }
  #footer_nav li {
    width: 19%; }
    #footer_nav li:nth-child(3) {
      position: relative; }
      #footer_nav li:nth-child(3) a {
        border-radius: 50%;
        -webkit-box-shadow: 0px 5px 10px 1px #ff8003;
                box-shadow: 0px 5px 10px 1px #ff8003;
        color: #fff;
        background: #ff8003;
        padding: 15px;
        width: 60px;
        height: 60px;
        position: relative;
        top: -40px;
        display: block; }
      #footer_nav li:nth-child(3) i {
        font-size: 30px;
        margin: 0; }

.display-inline {
  display: inline-block; }

.form_login {
  margin-top: 40px; }
  .form_login .item_form {
    float: left;
    margin: 0 4%;
    text-align: left; }
    .form_login .item_form label {
      opacity: 0;
      color: #ff8003;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 16px; }
    .form_login .item_form input {
      color: #626262;
      font-family: "Roboto", sans-serif;
      border: none;
      border-bottom: solid #dedede 1px;
      height: 50px;
      width: 100%; }
  .form_login .item_indicator {
    width: 48px; }
    .form_login .item_indicator label {
      opacity: 1; }

.actions {
  margin-top: 90%; }
  .actions .text-basic {
    margin-top: 20px; }

.ico_quantity {
  text-align: center;
  border: solid 1px #dedede;
  color: #dedede;
  text-align: center;
  border-radius: 50%;
  font-size: 17px;
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px; }

.edit_quantity {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%); }
  .edit_quantity .number_quantity {
    color: #979797;
    font-size: 17px; }

.btn {
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  display: block;
  font-size: 17px;
  padding: 10px 0;
  text-align: center;
  width: 100%; }
  .btn_orange {
    background-color: #ff8003;
    color: #fff; }

.no-padding {
  padding: 0; }

.text-center {
  text-align: center; }

.t-basic {
  font-family: "Roboto", sans-serif; }
  .t-basic_60 {
    font-size: 60px; }
  .t-basic_28 {
    font-size: 28px; }
  .t-basic_20 {
    font-size: 19px; }
  .t-basic_17 {
    font-size: 17px; }
  .t-basic_coffe {
    color: #3f2701; }
  .t-basic_gray {
    color: #979797; }
  .t-basic_gray2 {
    color: #626262; }
  .t-basic_red {
    color: #f84144; }
  .t-basic_white {
    color: #fff; }
  .t-basic_orange {
    color: #ff8003; }
  .t-basic_light {
    font-weight: 200; }
  .t-basic_medium {
    font-weight: 400; }

.tab-content {
  padding-top: 40px; }
  .tab-content .products-shop .list-basic li {
    margin: 15px 0; }

.text-basic {
  font-family: "Roboto", sans-serif; }
  .text-basic_blue2 {
    color: #006abf; }
  .text-basic_blue {
    color: #00c1f8; }
  .text-basic_gray {
    color: #979797; }
  .text-basic_gray2 {
    color: #626262; }
  .text-basic_red {
    color: #f84144; }
  .text-basic_white {
    color: #fff; }
  .text-basic_20 {
    font-size: 19px; }
  .text-basic_17 {
    font-size: 17px; }
  .text-basic_14 {
    font-size: 14px; }
  .text-basic_light {
    font-weight: 200; }
  .text-basic_medium {
    font-weight: 400; }
  .text-basic_book {
    font-weight: 600; }

.list-basic {
  margin: 0;
  padding: 0; }
  .list-basic li {
    list-style: none; }

.list-inline {
  margin: 0;
  padding: 0; }
  .list-inline li {
    display: inline-block;
    list-style: none;
    margin: 0 auto; }
