@import 'vars.scss';

*{
	outline: none;
}

#footer_nav {
	background-color: $white-c;
	box-shadow: -1px 0px 5px 1px #afafaf;
	bottom: 0;
	text-align: center;
	padding: 14px 10px;
	position: fixed;
	z-index: 99;
	width: 100%;

	a {
		text-decoration: none;
		color: $gray-c;
		font-family: $roboto;
		font-size: 16px;

		&:hover { text-decoration: none;  }
	}

	i {
		font-size: 20px;
		margin-bottom: 5px;
	}

	li {
		width: 19%;

		&:nth-child(3) {
			position: relative;

			a {
				border-radius: 50%;
				box-shadow: 0px 5px 10px 1px $orange-c;
				color: $white-c;
				background: $orange-c;
				padding: 15px;
				width: 60px; height: 60px;
				position: relative;
				top: -40px;
				display: block;
			}

			i {
				font-size: 30px;
				margin: 0;
			}
		}
	}

	ul {
	}

}

.display-inline { display: inline-block; }

.form_login {
	margin-top: 40px;
	.item_form  {
		float: left;
		margin: 0 4%;
		text-align: left;

		label {
			opacity: 0;
			color: $orange-c;
			font-family: $roboto;
			font-weight: 300;
			font-size: 16px;
		}

		input {
			color: $gray2;
			font-family: $roboto;
			border: none;
			border-bottom: solid $gray3 1px;
			height: 50px;
			width: 100%;
		}

	}

	.item_indicator {
		width: 48px;

		label { opacity: 1;  }
	}
}

.actions {
	margin-top: 90%;

	.text-basic {
		margin-top: 20px;
	}
}

.ico_quantity {
	text-align: center;
	border: solid 1px $gray3;
	color: $gray3;
	text-align: center;
	border-radius: 50%;
	font-size: 17px;
	position: relative;
	top: 3px;
	width: 20px; height: 20px;
}

.edit_quantity {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translate(0%, -50%);

	.number_quantity {
		color: $gray-c;
		font-size: 17px;
	}
}

.btn {
	border-radius: 0;
	font-family: $roboto;
	display: block;
	font-size: 17px;
	padding: 10px 0;
	text-align: center;
	width: 100%;

	&_orange {
		background-color: $orange-c;
		color: $white-c;
	}
}

.no-padding { padding: 0; }

.text-center { text-align: center; }

.t-basic {
	font-family: $roboto;

	&_60 			{ font-size: 60px; }
	&_28 			{ font-size: 28px; }
	&_20 			{ font-size: 19px; }
	&_17 			{ font-size: 17px; }

	&_coffe 	{ color: $coffe; }
	&_gray 		{ color: $gray-c; }
	&_gray2 	{ color: $gray2; }
	&_red 		{ color: $red-c; }
	&_white 	{ color: $white-c; }
	&_orange 	{ color: $orange-c }

	&_light 	{ font-weight: 200 }
	&_medium 	{ font-weight: 400 }
}

.tab-content {
	padding-top: 40px;

	.products-shop {
		.list-basic {
			li {
				margin: 15px 0;
			}
		}
	}
}

.text-basic {
	font-family: $roboto;

	&_blue2 { color: $blue2 }
	&_blue 	{ color: $blue-c }
	&_gray 	{ color: $gray-c; }
	&_gray2 	{ color: $gray2; }
	&_red   { color: $red-c }
	&_white   { color: $white-c }

	
	&_20 		{ font-size: 19px; }
	&_17 		{ font-size: 17px; }
	&_14 		{ font-size: 14px; }

	&_light 	{ font-weight: 200 }
	&_medium 	{ font-weight: 400 }
	&_book 	{ font-weight: 600 }
}

.list-basic {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.list-inline {
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		list-style: none;
		margin: 0 auto;
	}
}