//var colors
$blue-c 	: #00c1f8;
$blue2		: #006abf;

$coffe		: #3f2701;

$gray-c 	: #979797;
$gray2  	: #626262;
$gray3		: #dedede;

$red-c    : #f84144;

$orange-c : #ff8003; 

$white-c  : #fff;
$white2 	: #f0eff4;

// Rutas imgs
$img : '../images/';
$bg  : '../images/backgrounds/';
$ico : '../images/icons/';

// FONTS
$roboto: 'Roboto', sans-serif;

